#banner {
    position: relative;
    text-align: center;
    color: white;
}

body {
    background-color: black;
    margin-top: 0cm;
    margin-bottom: 10cm;
    margin-right: 10cm;
    margin-left: 10cm;
}

#search {
   margin-left: auto;
   margin-right: auto;
   width: 6cm;

}

#image {
    position: relative;
    top: 8px;
    right: -600px;
    width: 1cm;
}

.hidden {
    display: none;
}