#banner {
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

#search {
   margin-left: auto;
   margin-right: auto;
   width: 6cm;

}

#image {
    position: absolute;
    top: 22px;
    right: 315px;
    width: 1cm;
}